/.idea
/.scp
/assets/animation-sheet
/assets/animations
/assets/bones
/assets/modern16x16
/assets/short-bones
assets/drone-office/office-bottom-small.png
assets/drone-office/office-bottom.png
assets/drone-office/office-top.png
